@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@200;300;400');

@tailwind base;
@tailwind components;
@tailwind utilities;


.effect{
  background-image: url('assets/noise.gif');
  opacity: 0.030;
  z-index: 200;
}

@font-face {
    font-family: 'baloo400';
    src: url('./fonts/BalooBhaina2-Bold.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'montserrat200';
    src: url('./fonts/Montserrat-ExtraLight.woff2') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'montserrat300';
    src: url('./fonts/Montserrat-Light.woff2');
    font-weight: 300;
}

.card:hover .img{
  height: 75%;
}
.card:hover .text{
  height: 25%;
}